a {
  text-decoration: none;
}

.pacm-filter-value {
  border-bottom: 1px solid #546E7A;
  border-bottom-style: dashed;
  cursor: pointer;
}

.leaflet-control-scale-line {
  overflow: visible !important;
}

.body-2 {
  line-height: 1.5 !important;
}

label.v-label.theme--light {
  color: #424242 !important;
  font-size: 0.875rem !important;
  margin-left: 6px !important;
}